.card{
    height: fit-content;
}
.compact-card{
    display: flex;
    flex: 1;
    flex-direction: column;
    height: 10rem;
    border-radius: 0.7rem;
    position: relative;
    cursor: pointer;
    padding: 1rem;
    justify-content: space-between;
    box-shadow : "rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px";
    background: lightblue;
    transition: background-color 0.4s ease, box-shadow 0.4s ease;
}
.compact-card:hover{
    box-shadow: none;
}
.container-switch{
    display: flex;
    justify-content: flex-end;
}
.container-info{
    display: flex;
    flex-direction: column;
}
/*Hot cards*/
.compact-card.chaud{
    background: lightcoral;
}

/*cold cards*/
.compact-card.froid{
    background: blue;
}