.page-drop-image-wrap{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.main-titre{
    font-size: 5em;
}
.containeur-global-drop-image{
    width: 70%;
    height: 50%;
    display: flex;
    align-items: center;
    flex-direction: column;
}