* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --glass: rgba(255,255,255,0.54);
}
.lumiere-info{
    background-color: white;
    display: flex;
    flex-direction: row;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    border-radius: 1em;
    margin: 0 2% 2% 2%;
    overflow: hidden;
    padding: 2em;
}
.light-img-box{
    height: 15em;
    width: 10em;
    background-color: wheat;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 2em;
    border-radius: 1em;
    overflow: hidden;
}
.light-detail{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.temp-control{
    margin-left: auto;
}
.serre-infos{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.info-container{
    height: 6em;
    width: 20%;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    border-radius: 0.5em;
    padding-top: 2em;
    padding-left: 0.7em;
    margin-bottom: 2em;
}
.info-titre{
    font-size: small;
}
.info{
    font-size: 30px;
    font-weight: bold;
}
.espace-de-control{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 2em;
    
}
.control-container{
    background-color: lightgrey;
    height: 12em;
    width: 12em;
    border-radius: 1em;
    padding: 1em;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.switch-section{
    display: flex;
    justify-content: space-between;
}
.haut-page{
    display: flex;
    flex-direction: column;
}
.container-page{
    background-image: linear-gradient(
        106deg,
        #CDE8E5 29.63%,
        #EEF7FF 51.55%,
        #6295A2 90.85%
    );
    height: 100vh;
    width: 100vw;
    display: flex;
    font-family: "Inter", sans-serif;
    align-items: center;
    justify-content: center;
}
.page{
    display: grid;
    height: 97%;
    width: 97%;
    border-radius: 2em;
    background-color: rgba(255,255,255,0.54);
    grid-template-columns: 11rem auto 20rem;
}
.complementaire-data{
    padding: 2em;
}